*{
    margin: 0;
    padding: 0;
}

/*############################################################################################*/
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-image: url(../components/images/body.jpg);
    background-size: cover;
}

main{
    display: flex;
    flex-direction: column;
    width: 440px;
    height: 540px;
    background: white;
    border-radius: 30px;
    overflow: hidden;
}

p{
    color: gray;
    font-weight: bold
}

#shandow{
    position: absolute;
    transition: transform 0.1s, box-shadow 0.1s;
    perspective: 500px;
}

#segue{
    position: absolute;
    transition: transform 0.5s;
}

#container{
    position: absolute;
    transition: transform 0.1s;
}

/*############################################################################################*/
#capa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25vh;
}

#capa img{
    max-width: 100%; 
    max-height: 100%;
}

/*############################################################################################*/
#perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -9vh; 
    margin-bottom: -12vh;   
    z-index: 1; 
}

#perfil figure{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#perfil figure img{
    max-width: 100%; 
    max-height: 100%;
}

#perfil figcaption{
    padding: 1vh;
    font-weight: bold;
    font-size: 20px;
}
.circle{
    width: 175px;
    height: 175px; 
    border-radius: 50%; 
    border: 3px solid white;
}
/*############################################################################################*/
#info{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
}

#info article{
    text-align: center;
}

/*############################################################################################*/
#social{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0 50px;
    height: 20vh;
    border-top: 2px solid gray;
}

#social article{
    text-align: center;
}
/*############################################################################################*/

